*{
  margin:0;
  padding:0;
}
body{
  background-color: rgb(0, 0, 0);
}
.class{
  color:white;
}
header{
  background-color:rgb(114, 114, 114);
  display:grid;
  grid-template-columns: 50px 2fr 3fr 2fr 1fr;
  grid-template-rows: 60px;
}
.class1{
  align-content: center;
  text-align: center;
}
.class2{
  display:flex;
  min-width: 60px;
}
.class3 ul{
  list-style-type: none;
  display:flex;
  justify-content:space-between;
  margin: 20px;
  height: 20px;
}
.class3 li{
  padding:0px 10px;
  border: 0.25px solid wheat;
}

.class5{
  
}
.class{
  border: 0.25px solid white;
}

.container{
  color:white;
  display: flex;
  flex-wrap: wrap;
  align-content: end; /* sẽ KHÔNG có tác dụng */
  height: 200px;
  background: #eee;
}
.container div {
  width: 100px;
  height: 50px;
  background: lightblue;
  margin: 5px;
}
.class2{
  background-color: aqua;
  justify-content: center;
  align-items: center;
}