.box1{
    height:200px;
    width:200px;
    background: #ffff24;
}

.box2{
    background-color: red;
    opacity:0%;
    transition: opacity 1s ease-in;
}
body{
    display: flex;
}
.box1:hover ~ .box2{
    opacity:100%;
}