#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#input{
  width: 250px;
}
#inputselect{
  width: 260px;
}
.p{
  font-weight: bold;
  font-family:arial;
}
.submit{
  width: 100px;
  font-weight: bold;
}